:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  min-height: 100vh;
}
.counter-main-div {
  display: flex;
  column-gap: 20px;
  margin-bottom: 20px;
  width: 50%;
}
button {
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.reset-btn-container {
  display: flex;
  column-gap: 50px;
}
.cart-img {
  background-image: url("./assets/cart-shopping-solid.svg");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0;
}
.cart {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}
.reset-btn-container button {
  font-size: 1rem;
  padding: 10px;
  margin: 20px 0;
}
.main-container {
  padding: 20px;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid hsl(187.96, 53.05%, 58.24%);
  background-color: hsl(188.16, 67.32%, 70%);
  border-radius: 10px;
}
.counter-main-div {
}

.counter,
.dec-btn,
.del-btn,
.inc-btn {
  font-size: 2rem;
  border-radius: 5px;
  height: 80%;
  width: 20%;
  text-align: center;
}
.counter {
  background-color: hsl(45, 100%, 51.37%) !important;
}
.dec-btn {
  background-color: hsl(208.24, 7.3%, 45.69%);
}
.inc-btn {
  background-color: hsl(187.96, 53.05%, 58.24%);
}
.del-btn,
.reload,
.reset {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.del-btn {
  background-image: url("./assets/trash-can-regular.svg");
  background-color: hsl(354.25, 70.46%, 53.53%);
}
.reload {
  background-image: url("./assets/rotate-solid.svg");
  background-color: hsl(133.7, 61.35%, 40.59%);
  width: 60px;
  height: 40px;
}
.reset {
  background-image: url("./assets/recycle-solid.svg");
  background-color: hsl(188.2, 77.78%, 40.59%);
  width: 60px;
  height: 40px;
}
span {
  background-color: hsl(188.2, 77.78%, 40.59%);
  height: 30px;
  width: 50px;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}
